/* Write your CSS here */
.vaccination-by-age-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #1c1c2b;
}
.vaccination-age-heading {
  color: #94a3b8;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}
